/* .container-virus-info{
    background-image: url('../../public/assets/imgs/global-coronavirus-2019.jpg');
    background-size: cover;
    background-position: 75% 70%;
    background-repeat: no-repeat;
    height: 100vh;
} */
